:root {
    --white: #FAFAFA;
    --black: #0A0A0A;
    --gray-100: #D9D9D9;
    --gray-300: #B3B3B3;
    --gray-500: #666666;
    --gray-600: #292929;
    --gray-800: #141414;
    --purple-500: #5710C5;
    --purple-400: #7636D9;
    --pink-500: #F93E7D;
    --font-size-h1: 5rem;
    --font-size-h2: 3.375rem;
    --font-size-h3: 1.25rem;
    --font-size-h4: 1.25rem;
    --font-size-body-1: 1.125rem;
    --font-size-body-2: 1rem;
}

body {
    background: var(--white);
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: 700;
    line-height: 110%;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: 700;
    line-height: 110%;
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 500;
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: 400;
    line-height: 110%;
}

p {
    font-size: var(--font-size-body-1);
    font-weight: 400;
    line-height: 150%;
}

.header {
    background: #000;
    background-image: url(../src/assets/circles--background.svg), url(../src/assets/radius--background.png), url(../src/assets/square--background.svg);
    background-position: top left, bottom center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    position: relative;
    padding: 0 16px;
}

.header::after {
    background: linear-gradient(135deg, var(--purple-500) 0%, var(--pink-500) 100%);
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 6px;  
    position: absolute;
}

.wrapper {
    display: grid;
    gap: 0 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: max-content;
    max-width: 1140px;
    position: relative;
    width: 100%;
}

.navMenu {
    align-items: center;
    background: var(--gray-800);
    border: 1px solid var(--gray-600);
    border-radius: 24px;
    display: flex;
    grid-column: 1/13;
    height: 6rem;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 0 1.5rem;
}

.menuOptions {
    display: flex;
    gap: 3rem;
}

.menuOptions li {
    align-items: center;
    display: flex;    
    justify-content: center;
}

.menuOptions li a {
    align-items: center;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    font-size: 1rem;
    line-height: 120%;
    width: 100%;
    height: 3rem;
    text-align: center;
}

.menuOptions li:last-child a {
    background: #000;
    border: 1px solid var(--white);
    padding: 0 1.5rem;
    transition: background-color .2s;
}

.menuOptions li:last-child a:hover {
    background-color: rgba(255,255,255,.15);
}

.headerMainContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    grid-column: 3/11;
    margin-top: 9.375rem;
    text-align: center;
}

.headerMainContent > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.headerMainContent h1 {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(135deg, #B3B3B3 0%, #FAFAFA 100%);
    color: transparent;
}

.headerMainContent p {
    color: var(--gray-300);
    max-width: 41rem;
}

.buttonWrapper {
    display: flex;
    gap: 24px;
}

.buttonWrapper li {
    border-radius: 8px;
    overflow: hidden;
}

li.primaryButton {
    box-shadow: 0 0 24px var(--purple-500);
}

li.primaryButton a {
    align-items: center;
    color: var(--white);
    display: flex;
    background-color: transparent;
    background-image: linear-gradient(135deg, var(--purple-500) 0%, var(--purple-400) 100%);
    height: 3rem;
    padding: 0 1.5rem;
}

li.secondaryButton a {
    align-items: center;
    background-color: rgba(255,255,255,.05);
    border: 1px solid var(--white);
    color: var(--white);
    display: flex;
    border-radius: 8px;
    height: 3rem;
    padding: 0 1.5rem;
    transition: background-color .3s;
}

li.secondaryButton a:hover {
    background-color: rgba(255,255,255,.15);
}

/* Services */

.services {
    padding: 8rem 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.servicesMainContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 4 / 10;
    text-align: center;
    margin-bottom: 8rem;
}

.servicesMainContent h4 {
    color: var(--gray-300);
}

.servicesList {
    display: flex;
    gap: 1.5rem;
    grid-column: 1 / 13;
}


.servicesList li {
    background: #fff;
    border: 1px solid var(--gray-100);
    border-radius: 24px;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 1.25rem;
    padding: 1.5rem;
}

.serviceIcon {
    align-items: center;
    background-image: linear-gradient(135deg, var(--gray-500) 0%, var(--gray-800) 100%);
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    height: 5rem;
    justify-content: center;
    width: 5rem;
}

.serviceIcon img {
    height: 48px;
    width: 48px;
}

.serviceDescription {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.serviceDescription  p {
    font-size: var(--font-size-body-2);
}

.serviceButtonWrapper {
    justify-content: flex-end;
    display: flex;
}

.serviceButtonWrapper a {
    align-items: center;
    background: var(--black);
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    display: flex;
    height: 48px;
    justify-content: center;
    padding: 12px;
    outline: none;
    transition: background .3s;
    width: 48px;
}

.serviceButtonWrapper a:hover {
    background: var(--pink-500)
}

.mainContentMark {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.mainContentMark .mark {
    background: var(--pink-500);
    border-radius: 50%;
    display: block;
    height: 8px;
    position: relative;
    width: 8px;
    z-index: 1;
}

.mainContentMark .mark::after {
    animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
    background: var(--pink-500);
    border-radius: 50%;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
        transform: scale(1.4);
    }
}

.benefitsTagList {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    grid-column: 3 / 11;
    justify-content: center;
    margin-top: 6rem;
}

.benefitsTagList li {
    align-items: center;
    background: #fff;
    border: 1px solid var(--gray-100);
    border-radius: 1.25rem;
    display: flex;
    gap: 6px;
    height: 2.5rem;
    justify-content: center;
    padding: 0 1rem;
}

/* About */

.about {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 8rem;
}

.aboutMainContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 1 / 7;
    justify-content: center;
}

.valuesList {
    display: flex;
    gap: 1rem;
}

.valuesList li {
    align-items: center;
    display: flex;
    gap: 1rem;
    text-transform: lowercase;
}

.valuesList li::after {
    background: #5710C5;
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
}

.valuesList li:last-child:after {
    display: none;
}

.aboutImage {
    display: flex;
    grid-column: 7 / 13;    
    justify-content: center;
}

.aboutImage .imgWrapper {
    position: relative;
}

.aboutImage .imgWrapper img {
    position: relative;
    z-index: -1;
}

.benefitChipContainer {
    display: block;
    position: absolute;
}

.benefitChipContainer.chip-1 {
    top: 48px;
    right: -64px;
}

.benefitChipContainer.chip-2 {
    top: 193px;
    left: -96px;
}

.benefitChipContainer.chip-3 {
    top: 396px;
    right: -120px;
}

.animationDefault {
    animation-timeline: view(block 60% 10%);
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-timing-function: ease;
}

.rightToLeft {
    animation-name: rightToLeft;
}

.leftToRight {
    animation-name: leftToRight;
}

@keyframes rightToLeft {
    from {
        opacity: 0;
        transform: translate3d(96px,0,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes leftToRight {
    from {
        opacity: 0;
        transform: translate3d(-96px,0,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}



.benefitChip {
    align-items: center;
    background: var(--white);
    height: 48px;
    display: flex;
    padding: 0 16px;
    border-radius: 24px;
    position: relative;
    justify-content: center;
}

.benefitChip::after {
    background-image: linear-gradient(135deg, var(--purple-500) 0%, var(--pink-500) 100%);
    content: '';
    display: block;
    height: 52px;
    width: calc(100% + 4px);
    border-radius: 26px;
    position: absolute;
    z-index: -1;
}



/* Cases */

.mainContentMarkLeft {
    align-items: flex-start;
}

.casesMainContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 1 / 8;
}

.casesMainContent h2 span {
    color: var(--pink-500);
}

.cases {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 25rem;
}

.casesWrapper {
    background-color: rgba(20, 20, 20, .95);
    border-color: 1px solid var(--gray-600);
    border-radius: 24px;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-column: 1 / 13;
    padding: 3rem;
    position: absolute;
    bottom: -700px;
    z-index: 1;
}

.carouselContainer {
    overflow: hidden;
    width: calc(100% + 5.5rem);
}

.carousel {
    display: flex;
    transform: translate3d(0,0,0);
    transition: all .5s;
    gap: 0.125rem;
}

.case {
    align-items: center;
    display: grid;
    flex-shrink: 0;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    width: 100%;
    position: relative;
}

.caseDescription {
    align-items: flex-start;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    grid-column: 1 / 5;
}

.caseDescriptionTitle {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.btnDefaultDark {
    align-items: center;
    background-color: var(--black);
    border: 1px solid var(--white);
    border-radius: 8px;
    cursor: pointer;
    color: var(--white);
    display: flex;
    gap: 0.375rem;
    height: 3rem;
    padding: 0 0.75rem 0 1rem;
    transition: background-color .2s;
}

.btnDefaultDark:hover {
    background-color: rgba(255,255,255,.15);
}

.caseImageWrapper {
    grid-column: 5 / 12;
    max-width: 42.85rem;
    position: relative;
    left: 5.5rem;
}

.caseImage {
    aspect-ratio: 4 / 3;
    border: 1px solid var(--white);
    border-radius: 16px;
    overflow: hidden;
}

.caseComponentsWrapper {
    align-items: center;
    bottom: -24px;
    display: flex;
    gap: 1.5rem;
    position: absolute;
    right: 48px;
}

.carouselSteps {
    align-items: center;
    background-color: var(--black);
    border: 1px solid var(--gray-600);
    border-radius: 8px;
    display: flex;
    gap: 1rem;
    height: 3rem;
    padding: 0 1.5rem;
}

.carouselSteps li {
    background-color: var(--gray-500);
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 8px;
    width: 8px;
}

.carouselSteps li.active {
    background-color: var(--pink-500); 
    box-shadow: 0 0 8px rgba(249, 62, 125, 1 );
}

.carouselChange {
    border: 1px solid var(--gray-600);
    border-radius: 8px;
    display: flex;
    overflow: hidden;
}

.carouselChange button {
    align-items: center;
    background-color: var(--white);
    border: none;
    cursor: pointer;
    display: flex;
    height: 3rem;
    justify-content: center;
    width: 3rem;
    transition: background-color .2s;
}

.carouselChange button:hover {
    background-color: var(--black);
}

.carouselChange button:hover svg .icon {
    fill: var(--white);
}

/* Contact */

.contact {
    background: var(--black);
    background-image: 
        url(../src/assets/two--background.svg), 
        url(../src/assets/radius--background.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 
        center center, 
        top -500px center;
    background-size: 
        cover, 
        contain;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    grid-column: 3 / 11;
    justify-content: center;
    padding-top: 25rem;
    padding-bottom: 16rem;
    position: relative;
}

.contact::after {
    background: linear-gradient(135deg, var(--purple-500) 0%, var(--pink-500) 100%);
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 6px;  
    position: absolute;
}

.contactMainContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 3 / 11;
    text-align: center;
    margin-bottom: 8rem;
}

.contactTextContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contactTextContent p {
    margin-bottom: 3.5rem;
    max-width: 34.875rem;
}

.buttonWrapperColumn {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.buttonWrapperColumn li {
    border-radius: 8px;
    overflow: hidden;
}

li.email {
    font-size: var(--font-size-body-1);
    text-decoration: underline;
}

/* Footer */

.footer {
    background-color: var(--black);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 4rem;
}

.footerMainContent {
    color: var(--gray-100);
    display: flex;
    grid-column: 1 / 13;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.footerBusinessInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footerBusinessInfo p {
    font-size: 1rem;
}

.footerNavMenu {
    width: 22.8rem;
}

.footerNavMenu .menuTitle {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.footerNavMenu .menuItems {
    color: var(--gray-300);
    display: flex;
    font-size: 1rem;
    gap: 1.5rem;
}



.footerNavMenu .menuItems ul {
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 1rem;
}

.footerNavMenu .menuItems ul a {
    transition: color .3s;
}

.footerNavMenu .menuItems ul a:hover {
    color: var(--gray-100);
}

.footerCopy {
    align-items: center;
    border-top: 1px solid var(--gray-600);
    color: var(--gray-100);
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 13;
    padding: 2.5rem 0;
}

.footerCopy p {
    font-size: var(--font-size-body-2);
}

.mediaChannels {
    display: flex;
    gap: 0.875rem;
}

.mediaChannels li {
    background-image: linear-gradient(135deg, var(--gray-500) 0%, var(--gray-800) 100%);
    border-radius: 8px;    
    height: 2rem;
    transition: border .2s;
    width: 2rem;
}

.mediaChannels li a {
    align-items: center;
    border-radius: 8px; 
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.channelIcon {
    height: 24px;
    width: 24px;
}

@media screen and (max-width: 767px) {
    :root {
        --font-size-h1: 2.875rem;
        --font-size-h2: 2.250rem;
        --font-size-h3: 1.250rem;
        --font-size-h4: 1.250rem;
        --font-size-body-1: 1rem;
        --font-size-body-2: 0.875rem;
    }

    body {
        overflow-x: hidden;
    }

    .wrapper {
        gap: 0 1rem;
        grid-template-columns: repeat(4, 1fr);
        max-width: 358px;
    }

    .navMenu {
        background: var(--gray-800);
        border: 1px solid var(--gray-600);
        border-radius: 16px;
        grid-column: 1/5;
        height: 4.5rem;
        padding: 0 1.25rem;
    }

    .imageLogo img {
        height: 48px;
    }

    .menuOptions {
        display: none;
    }

    .headerMainContent {
        gap: 2rem;
        grid-column: 1/5;
    }

    /* About */

    .aboutMainContent {
        grid-column: 1 / 5;
        margin-bottom: 4rem;
    }

    .aboutImage {
        grid-column: 1 / 5;
    }

    .imgWrapper {
        max-width: 200px;
    }
    
    .benefitChipContainer.chip-2 {
        top: 108px;
        left: -80px;
    }
    
    .benefitChipContainer.chip-3 {
        top: 300px;
        right: -80px;
    }

    /* Services */

    .servicesMainContent {
        grid-column: 1 / 5;
        margin-bottom: 6rem;
    }
    
    .servicesList {
        grid-column: 1 / 5;
        overflow: scroll;
    }

    .benefitsTagList {
        gap: 1rem;
        grid-column: 1 / 5;
    }

    .servicesList li {
        flex-basis: auto;
        max-width: 265px;
    }

    /* Cases */

    .cases {
        padding-bottom: 20rem;
    }

    .casesWrapper {
        padding: 1.5rem;
        padding-bottom: 4rem;
        bottom: -570px;
    }

    .case {
        align-items: center;
        display: grid;
        flex-shrink: 0;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        width: 100%;
        position: relative;
    }

    .carousel {
        gap: 0.055rem;
    }

    .carouselContainer {
        width: calc(100%);
    }

    .caseImageWrapper {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        left: 0;
    }

    .caseComponentsWrapper {
        align-items: center;
        bottom: -24px;
        display: flex;
        position: absolute;
        right: 24px;
    }

    /* Contact */
    .contact {
        grid-column: 1 / 5;
        padding-bottom: 8rem;
    }
    
    .contactMainContent {
        grid-column: 1 / 5;
    }

    /* Footer */

    .footerMainContent {
        grid-column: 1 / 5;
        flex-direction: column;
        gap: 3rem;
    }

    .footerBusinessInfo {
        gap: 0.875rem;
    }

    .imageLogoFooter img {
        max-width: 200px;
    }

    .footerCopy {
        grid-column: 1 / 5;
    }

}